* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  color: #111;
}

input, textarea, select, button {
  font-family: inherit;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: italic;
  font-size: 65px;

  border-style: solid;
  border-width: 5px;
  border-color: gray;

  margin: 5px;
  background-color: darkgray;

  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 10px 0;
}

nav a {
  color: blue;
  text-decoration: underline;
  font-size: 14px;
}