
.create-rating-form {
    align-content: center;
    max-width: 800px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 25px;
}

#title {
    display: flex;
    font-style: italic;
    font-size: 65px;
    border-style: solid;
    border-width: 5px;
    justify-content: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: darkgray;
    border-color: gray;
}
nav {
    display: flex;
    justify-content: center;
}